<div class="tab">
  <button class="tablinks" (click)="openDescription(evt, 'What is SHOULD I TAKE?')">What is SHOULD I TAKE?</button>
  <button class="tablinks" (click)="openDescription(evt, 'Who are we?')">Who are we?</button>
  <button class="tablinks" (click)="openDescription(evt, 'Disclaimer')">Disclaimer</button>
</div>

<div id="What is SHOULD I TAKE?" class="tabcontent">
  <h2>What is SHOULD I TAKE?</h2>
  <p>Should I take is an app.</p>
</div>

<div id="Who are we?" class="tabcontent">
  <h2>Who are we?</h2>
  <p>We are some very cool people.</p>
</div>

<div id="Disclaimer" class="tabcontent">
  <h2>Disclaimer</h2>
  <p>Don't trust us, we have no idea what we are doing.</p>
</div>

<div class="nextpage">
  <button (click)="goNextPage()" mat-button color="primary">Go to App</button>
</div>
