h2 {
  font-size: 25px;
  color: #555;
}

p {
  font-size: 15px;
  letter-spacing: -2.5px;
  max-width: 70%;
  margin: 0 auto;
  color: #8f9399;
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 300px;
    height: 210px;
    margin-top: 20px;
    margin-left: 20%;
}

/* Style the buttons inside the tab */
.tab button {
    font-family: CoreCircus, sans-serif;
    letter-spacing: -3px;
    display: block;
    padding: 22px 16px;
    width: 300px;
    height: 70px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover and when active */
* button:hover, button:focus {
    background-color: #EC407A;
    color: white;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 500px;
    margin-top: 20px;
    margin-right: 15%;
    border-left: none;
    height: 210px;
    display:none;
}
