mat-card {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 25px;
}

a {
  font-weight: bold;
  color: black;
  opacity: 0.9;
  padding-left: 10px;
  margin-bottom: 10px;
}

button {
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom right, rgb(41, 190, 170), rgb(118, 72, 179));
  opacity: 0.9;
}

#spinner {
  width: 10px;
  margin-left: 45%;
  margin-right: 45%;
  color: warm;
}

@media only screen and (max-width:500px) {
  #outer {
    padding-top: 50px;
  }
}
