<body>
  <div>
    <mat-card *ngIf="!showResults && !showError">
      <mat-tab-group (selectedTabChange)="updateType($event)">
        <mat-tab label="Drug-Interaction">
          <form>
            <mat-form-field>
              <mat-label>First Drug Name</mat-label>
              <input (click)="clearAuto(drug1)" matInput name="drug1" placeholder="Please provide the name of the first drug." [matAutocomplete]="auto" [formControl]="drugCtrl" [(ngModel)]="drug1">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
                  {{drug}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Second Drug Name</mat-label>
              <input (click)="clearAuto(drug2)" matInput name="drug2" placeholder="Please provide the name of the second drug." [matAutocomplete]="auto2" [formControl]="drugCtrl" [(ngModel)]="drug2">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
                  {{drug}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div class="button-container">
              <button (click)="getAdvice()" mat-button color="primary">Get Results</button>
              <mat-spinner [diameter]="30" *ngIf="loading"></mat-spinner>
            </div>
          </form>
        </mat-tab>

        <mat-tab label="Drug-Operation">
          <form>
            <mat-form-field>
              <mat-label>Ongoing Medication</mat-label>
              <input (click)="clearAuto(drug3)" matInput name="drug3" placeholder="Please provide a drug you are currently taking." [matAutocomplete]="auto3" [formControl]="drugCtrl" [(ngModel)]="drug3">
              <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
                    {{drug}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Operation</mat-label>
              <input matInput name="operation" placeholder="Please provide the operation you are going to have." [(ngModel)]="operation">
            </mat-form-field>

            <div class="button-container">
                <button (click)="getAdvice()" mat-button color="primary">Get Results</button>
                <mat-spinner [diameter]="30" *ngIf="loading"></mat-spinner>
              </div>
          </form>
        </mat-tab>

        <mat-tab label="Drug-Condition">
          <form>
            <mat-form-field>
              <mat-label>Drug Name</mat-label>
              <input (click)="clearAuto(drug4)" matInput name="drug" placeholder="Please provide the name of the drug you want to take." [matAutocomplete]="auto4" [formControl]="drugCtrl" [(ngModel)]="drug4">
              <mat-autocomplete #auto4="matAutocomplete">
                  <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
                    {{drug}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Medical Condition</mat-label>
              <input matInput name="condition" placeholder="Please provide your medical condition." [(ngModel)]="condition">
            </mat-form-field>

            <div class="button-container">
                <button (click)="getAdvice()" mat-button color="primary">Get Results</button>
                <mat-spinner [diameter]="30" *ngIf="loading"></mat-spinner>
              </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <app-results-card (toggled)="toggle($event)" *ngIf="showResults" [results]="results"></app-results-card>
    <mat-card *ngIf="showError">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      {{errorMsg}}
    </mat-card>
  </div>
</body>
