<body>
  <div>
    <mat-card *ngIf="!showResults">
      <mat-tab-group (selectedTabChange)="updateType($event)">
        <mat-tab label="Drug Interaction">
          <form>
            <mat-form-field>
              <mat-label>First Drug Name</mat-label>
              <input matInput name="drug1" required="true" placeholder="Please provide the name of the first drug." [(ngModel)]="value1">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Second Drug Name</mat-label>
              <input matInput name="drug2" required="true" placeholder="Please provide the name of the second drug." [(ngModel)]="value2">
            </mat-form-field>

            <button (click)="getAdvice()" mat-button color="primary">Get Results</button>
          </form>
        </mat-tab>

        <mat-tab label="Drug-Operation">
          <form>
            <mat-form-field>
              <mat-label>Ongoing Medication</mat-label>
              <input matInput name="drug1" required="true" placeholder="Please provide a drug you are currently taking." [(ngModel)]="value1">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Operation</mat-label>
              <input matInput name="operation" required="true" placeholder="Please provide the operation you are going to have." [(ngModel)]="value2">
            </mat-form-field>

            <button (click)="getAdvice()" mat-button color="primary">Get Results</button>
          </form>
        </mat-tab>

        <mat-tab label="Drug-Condition">
          <form>
            <mat-form-field>
              <mat-label>Medical Condition</mat-label>
              <input matInput name="condition" required="true" placeholder="Please provide your medical condition." [(ngModel)]="value1">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Drug Name</mat-label>
              <input matInput name="drug" required="true" placeholder="Please provide the name of the drug you want to take." [(ngModel)]="value2">
            </mat-form-field>

            <button (click)="getAdvice()" mat-button color="primary">Get Results</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <app-results-card *ngIf="showResults" [results]="results"></app-results-card>
  </div>
</body>
