div {
  padding: 10.3%;
}

mat-card {
  width: 60%;
  margin: 0 auto;
  background: white;
}

form {
  padding: 30px 0;
}

mat-form-field {
  display: block;
  padding: 10px 0;
}

body {
  background: linear-gradient(to bottom right, rgb(41, 190, 170), rgb(118, 72, 179));
  background-repeat: no-repeat;
  height: 300px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

@media only screen and (max-width:500px) {
  mat-card {
    position: absolute;
    width: 70%;
    margin-top: 30px;
    background: white;
  }
}

@media only screen and (max-width:910px) {
  .mat-tab-header-pagination {
    display: none;
  }
  .mat-tab-label {
    width: 100%;
    display: block;
  }
}

.button-container {
  padding: 0;
  display: flex;
  width: 150px;
  justify-content: space-between;
}
