body {
  background: linear-gradient(to bottom right, rgb(41, 190, 170), rgb(118, 72, 179));
  background-repeat: no-repeat;
  height: 300px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

div {
  padding-top: 60px;
}

h2 {
  font-size: 28px;
  text-align: center;
  padding-top: 7%;
  color: white;
}

h3 {
  text-align: center;
}

#card-container {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  opacity: 0.9;
}

#text-column {
  margin-left: 3%;
}

#button-container {
  justify-content: center;
  display: flex;
}

button {
  background-color: white;
  font-size: 20px;
  opacity: 0.9;
}
