div {
  padding-top: 60px;
}

h2 {
  font-size: 28px;
  text-align: center;
  padding-top: 7%;
  color: white;
  cursor: pointer;
}

h3 {
  text-align: center;
}

#card-container {
  display: flex;
  justify-content: space-around;
  opacity: 0.9;
  margin-left: 5px;
}

#text-column {
  margin-left: 3%;
  margin-right: 3%;
}

body {
  background: linear-gradient(to bottom right, rgb(41, 190, 170), rgb(118, 72, 179));
  background-repeat: no-repeat;
  height: 300px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}
