.left {
  float: left;
  padding-left: 3%;
}

.full-screen {
  visibility: visible;
}

.small-screen {
  visibility: hidden;
}

.right {
  float: right;
  padding-right: 0 3%;
  margin-left: -10px;
  margin-top: 10px;
}

.right::after {
  content: ' ';
  display: block;
  border: 0.5px solid white;
}

ul li {
  display: inline;
  color: white;
}

ul.left li {
  font-size: 20px;
  font-weight: bold;
}

ul.right li button {
  font-size: 15px;
  border: none;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

@media only screen and (max-width:500px) {
  .full-screen {
    visibility: hidden;
  }
  .small-screen {
    visibility: visible;
  }

  mat-icon {
    color: white;
  }

  .right {
    float: right;
    position: fixed;
    margin-right: 3%;
    margin-left: 70%;
  }

  .right::after {
    display: none;
  }
}
