.left {
  float: left;
}

.right {
  float: right;
  padding: 0 3%;
  margin-left: -10px;
}

.right::after {
  content: ' ';
  display: block;
  border: 0.5px solid white;
}

ul li {
  display: inline;
  color: white;
}

ul.left li {
  font-size: 20px;
  font-weight: bold;
}

ul.right li button {
  font-size: 15px;
  border: none;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}
